* styles.css */

* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #DAF7A6;
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #DAF7A6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #DAF7A6;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #145A32;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #145A32;
}

#error-message {
    color: red;
    margin-top: 10px;
}
